!!!
html
  head
    title Human Traffic, Human Cost
    link(href="/stylesheets/main.css", rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    #background-zone
      .bg-zone.antiquity.active
      .bg-zone.colonial
      .bg-zone.modern
    
    //- scrolling elements
    #scroll-container
      #viz
        #bar-target
      .scrolling-zone.intro
        .jumbotron
          h1 Human Traffic, Human Cost
          p= 'Entered as part of the '
            a(href="http://www.informationisbeautifulawards.com/2014/02/data-viz-challenge-human-cost/") Kantar Information Is Beautiful Awards.
            span= '  The data can be found '
            a(href="http://bit.ly/human_costs#sthash.xfoqddP5.dpuf")= 'here'
            | .

        .human-sprite-container
          .human-sprite.gladiator("data-stellar-ratio"="1")
          .human-sprite.children("data-stellar-ratio"="1.3")
          .human-sprite.woman1("data-stellar-ratio"="1.8")
          .human-sprite.child1("data-stellar-ratio"="1.7")
          .human-sprite.woman2("data-stellar-ratio"="3.1")
          .human-sprite.baby("data-stellar-ratio"="1.4")
          .human-sprite.child2("data-stellar-ratio"="1.1")

      .scrolling-zone
      .scrolling-zone.antiquity
        .egyptian-container
          .egyptian.egyptian-1("data-stellar-ratio"="1")
          .egyptian.egyptian-1("data-stellar-ratio"="1.3")
          .egyptian.egyptian-2.b("data-stellar-ratio"="1.7")
          .egyptian.egyptian-2.c("data-stellar-ratio"="2.0")
          .egyptian.egyptian-2.d("data-stellar-ratio"="2.9")
      .scrolling-zone
      .scrolling-zone.colonial
        h1 colonial
        .ship-container
          .ship.ship-1("data-stellar-ratio"="1.15")
          .ship.ship-2("data-stellar-ratio"="1.30")
      .scrolling-zone
        h1 pre modern spacer
      .scrolling-zone.modern
        h1 modern

    //- //- header 
    //- .jumbotron
    //-   .container.s_header
    //-     h1 Hello World
    //-     p SOME EXPLANATION GOES HERE
    //- .prompt-container.vector-container
    //-   .container.s_header
    //-     h1 Scroll or swipe to continue.
    //-   .prompt-vector.a-v("data-stellar-ratio"="1")
    //-   .prompt-vector.b-v("data-stellar-ratio"="0.9")
    //-   .prompt-vector.c-v("data-stellar-ratio"="0.8")
    //-   .prompt-vector.d-v("data-stellar-ratio"="1.2")
    
    //- //- ocean
    //- .ocean
    //-   .wave.a-v("data-stellar-ratio"="1")
    //-     .wave-body
    //-   .wave.b-v("data-stellar-ratio"="1.15")
    //-     .wave-body
    //-   .wave.c-v("data-stellar-ratio"="1.3")
    //-     .wave-body

    //- .img-spacer

    //- .antiquity      
    //-   .container.s_header.s_white
    //-     .viz-block
    //-     h1 Slave in Ancient Egypt (8 years old)
    //-     p $20,480

    //-   .egyptian.egypt-a("data-stellar-ratio"="0.9")
    //-   .egyptian.egypt-b("data-stellar-ratio"="1.3")
    //-   .egyptian.egypt-b.egypt-1("data-stellar-ratio"="1.1")
          
      //- #wrap              
      //- #footer
      //-   .container.l_footer-container.s_footer-container
      //-     p &copy;2014 Abraham Lincoln: Web Developer

    //- js: Single file in production, otherwise load requirejs
    if process.env.ENV == 'production'
      script(src='/js/main.js')
    else
      script(data-main='/js/main.js', src='/js/vendor/require.js')
