!!!
html
  head
    title Human Traffic, Human Cost
    link(href="/stylesheets/main.css", rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    #background-zone
      .bg-zone.antiquity.active
      .bg-zone.colonial
      .bg-zone.modern

    #y-axis
    
    //- scrolling elements
    #scroll-container
      #viz
        #bar-target
      .scrolling-zone.intro
        .jumbotron
          h1 Human Traffic, Human Cost
          p= 'Lovingly crafted as part of the '
            a(href="http://www.informationisbeautifulawards.com/2014/02/data-viz-challenge-human-cost/", target='_blank') Kantar Information Is Beautiful Awards.
        
        .scroll-prompt.initial-scroll
          h1 Scroll Right to Begin
          img(src="../img/arrow.png")

        .human-sprite-container
          .human-sprite.gladiator("data-stellar-ratio"="1")
          .human-sprite.children("data-stellar-ratio"="1.3")
          .human-sprite.woman1("data-stellar-ratio"="1.8")
          .human-sprite.child1("data-stellar-ratio"="1.7")
          .human-sprite.woman2("data-stellar-ratio"="3.1")
          .human-sprite.baby("data-stellar-ratio"="1.4")
          .human-sprite.child2("data-stellar-ratio"="1.1")

      .scrolling-zone
        .explanation-container
          h1 About this Visualization
          p
            | Historical prices for slaves at various points in history have been converted to inflation-adjusted modern US dollars.
            | We can then compare these figures to the prices for various forms of human trafficking in the modern world.
            span= '  The data can be found '
              a(href="http://bit.ly/human_costs#sthash.xfoqddP5.dpuf", target='_blank')= 'here'
              | .
          .scroll-prompt
            h1 Continue
            img(src="../img/arrow.png")
      .scrolling-zone.antiquity
        .egyptian-container.sprite-container
          img.egyptian.egyptian-1(src="img/egypt1.png", "data-stellar-ratio"="1")
          img.egyptian.egyptian-2.b(src="img/egypt2.png", "data-stellar-ratio"="1.7")
          img.egyptian.egyptian-2.c(src="img/egypt1.png", "data-stellar-ratio"="2.0")
          img.egyptian.egyptian-2.d(src="img/egypt2.png", "data-stellar-ratio"="2.9")
        .arches-container.sprite-container
          .arch.arch2("data-stellar-ratio"="1.00")
          .arch.arch1("data-stellar-ratio"="1.30")
      .scrolling-zone
      .scrolling-zone.colonial
        .colonial-container.sprite-container
          //- .slavery1
          .slave-auction("data-stellar-ratio"="1.30")
        .ship-container.sprite-container
          .ship.ship-1("data-stellar-ratio"="1.15")
          .ship.ship-2("data-stellar-ratio"="1.30")
      .scrolling-zone
      .scrolling-zone.modern

    //- js: Single file in production, otherwise load requirejs
    if process.env.ENV == 'production'
      script(src='/js/main.js')
    else
      script(data-main='/js/main.js', src='/js/vendor/require.js')
