!!!
html
  head
    title App
    link(href="/stylesheets/main.css", rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    #wrap              
      
        //- yield content
        block content
        
    #footer
      .container.l_footer-container.s_footer-container
        p &copy;2014 Abraham Lincoln: Web Developer

    //- js: Single file in production, otherwise load requirejs
    if process.env.ENV == 'production'
      script(src='/js/main.js')
    else
      script(data-main='/js/main.js', src='/js/vendor/require.js')
