@import "vendor/bootstrap.scss";
@import url(http://fonts.googleapis.com/css?family=Alegreya:400,700|Roboto+Condensed|Roboto:400,300);

html, body {
  height: 100%;
}

.s_header {
  h1 {
    font-family: 'Alegreya', serif;
  }
  p {
    font-family: 'Roboto Condensed', sans-serif;
  }
}

// prompt holder and animated vectors
.prompt-container {
  position: relative;
  height: 600px;
}


.prompt-vector {
  position: absolute;
  width: 50px;
  height: 50px;
  // temp
  border: 1px solid green;
  top: 150px;
  &.a-v {
    top: 150px;
    left: 50%;
  }
  &.b-v {
    top: 160px;
    left: 25%;
  }
  &.c-v {
    top: 130px;
    right: 10%;
  }
  &.d-v {
    top: 165px;
    right: 40%;
  } 
}

// ocean
.ocean {
  position: relative;
  height: 119px;
}

.wave {
  position: absolute;
  width: 100%;
  height: 482px;
  top: 0px;
  background-image: url("../img/wave_vector.png");
  background-repeat-y: none;
  
  &.a-v {
    background-position-x: 0px;
    opacity: 0.3;
  }
  &.b-v {
    background-position-x: 45px;
    opacity: 0.5;
  }
  &.c-v {
    background-position-x: 90px;
    opacity: 0.9;
  }
}

.wave-body {
  width: 100%;
  background-color: black;
  height: 400px;
  position: relative;
  top: 82px;
}

.content-holder {
  height: 800px;
}

.holder {
  position: relative;
  height: 200px;
}

.scrolling-vector {
  height: 50px;
  top: 50px;
  position: relative;
}

// 
// #wrap {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -45px;
//   padding: 50px 0 45px;
// }
// 
// #footer {
//   height: 45px;
// }
